.big-line {
	position: absolute;
	bottom: -280px;
	z-index: -1;
	width: calc(100% - 40px);

	@include tablet() {
		bottom: -190px;
		width: calc(100% - 120px);
	}

	@include mobile() {
		bottom: -190px;

		path {
			stroke-width: 50px;
		}
	}
}

.big-line--reversed {
	bottom: -340px;

	@include tablet() {
		bottom: -240px;
	}

	@include mobile() {
		bottom: -240px;
	}
}
