section.experience#experience
	.container.flex-wrapper

		.experience__content
			h2 Опыт работы
			ul
				each item in data.experienceScreen.experience
					+experienceItem(item)


		img.experience__img(
			src =`${baseDir}images/experienceImg.png`,
			alt = ''

			)

		.experience__content
			h2.h2--centered Образование
			ul
				each item in data.experienceScreen.education
					+educationItem(item)
		+bigLine(true)
