section.main-screen#main
	.container.flex-wrapper
		block content
			include menu
		.main-screen__content
			img.main-screen__logo(src = `${baseDir}images/Logo.png`,alt = 'Logo')

			h1
				p Имя кандидата,
				p Желаемая позиция

			p.text-fade Как разработчик, я высоко ценю способность воплотить видение дизайнера в жизнь, что считаю очень полезным для бизнеса. Я получаю огромное удовлетворение, наблюдая за работой от идеи до дизайна, особенно когда она появляется в руках пользователя. Я считаю, что ориентированные на пользователя решения являются наиболее ценными цифровыми ресурсами будущего.
		.main-screen__contacts
			a.contact-link mail@gmail.com
			a.contact-link +90 535 0868 095
			a.contact-link г. Фетхие
			.main-screen__socials
				a.social
					+svg("fb")
				a.social
					+svg("vk")
				a.social
					+svg("tg")
		+bigLine()

