-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			menu: [
				{
					url: '#mainScreen',
					name: 'Резюме'
				},
				{
					url: '#experienceScreen',
					name: 'О себе'
				},
				{
					url: '#skillsScreen',
					name: 'Навыки'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},
		experienceScreen: {
			experience: [
				{
					date: 'Июль 2019',
					title: "Freelance Designer",
					marks: '',
					companyName: '',
					companyIcon: '',
					companyLocation: 'Independent Netherlands, Worldwide',
					description: "Available for a project or job in UX/UI, Visual and Product design.",
					links: [
						{
							name:"Commercial tryouts",
							href:""
						},
						{
							name:"Personal Projects",
							href:""
						}
					]
				},
				{
					date: '2018-2019',
					title: "Freelance Designer",
					marks: '',
					companyName: 'name ',
					companyIcon: '',
					companyLocation: 'Independent Netherlands, Worldwide',
					description: "Available for a project or job in UX/UI, Visual and Product design.",
					links: [
						{
							name:"Commercial tryouts",
							href:""
						},
						{
							name:"Personal Projects",
							href:""
						}
					]
				},
			],
			education: [
				{
					marks: '',
					title: "Interface Design: Web & Mobile",
					companyName:"IT-Academy",
					companyLocation:  "2020"
				},
				{
					marks: '',
					title: "Interface Design: Web & Mobile",
					companyName:"IT-Academy",
					companyLocation:  "2020"
				},
				{
					marks: '',
					title: "Interface Design: Web & Mobile",
					companyName:"IT-Academy",
					companyLocation:  "2020"
				},
				{
					marks: '',
					title: "Interface Design: Web & Mobile",
					companyName:"IT-Academy",
					companyLocation:  "2020"
				}
			]
		},
		skillsScreen: {
			skills: [
				{
					title: "Adobe Creative Suite",
					text: "Photoshop, Illustrator, InDesign, XD, After Effects"
				},
				{
					title: "Adobe Creative Suite",
					text: "Photoshop, Illustrator, InDesign, XD, After Effects"
				},
				{
					title: "Adobe Creative Suite",
					text: "Photoshop, Illustrator, InDesign, XD, After Effects"
				},
				{
					title: "Adobe Creative Suite",
					text: "Photoshop, Illustrator, InDesign, XD, After Effects"
				}
			]
		}
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
