mixin educationItem(item)
	li.education-item
		.education-item__marks
			+Mark(item.marks[0][0],item.marks[0][1],item.marks[0][2], false)
		h3=item.title
		.education-item__company
			span.education-item__company-name= item.companyName + ", "
			span.education-item__date=item.companyLocation
