mixin Mark(dark, light, stroke)
	svg.mark( width="30" height="30" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg")
		rect( x="0.11517" y="18.5195" width="26" height="26" rx="6" transform="rotate(-45 0.11517 18.5195)"  fill="url(#0)" stroke=stroke stroke-width="4")
		defs
			linearGradient(id="0"  x1="1" y1="1" x2="0" y2="0")
				stop(offset="50%" stop-color=dark)
				stop(offset="50%" stop-color=light)



